# COMPOSE
NETWORK_SUBNET=10.0.0.0/24

WIREGUARD_CONTAINER_IP=10.0.0.2
ADGUARD_CONTAINER_IP=10.0.0.100
TRAEFIK_CONTAINER_IP=10.0.0.3
CROWDSEC_CONTAINER_IP=10.0.0.4

WIREGUARD_PORT=51820

# TRAEFIK
CF_API_EMAIL=
CF_DNS_API_TOKEN=

# CROWDSEC
CROWDSEC_KEY=